  .head_logo_icon_container_class {
    position: absolute;   /* now you can place it anywhere */
    top: 10px;            /* distance from top of header */
    left: 10px;           /* distance from left of header */
    display: flex;
    gap: 7px;            /* space between icon and site name */
    align-items: center;  /* vertically align icon + text */
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }
  
  .head_class_options_icon_class {
    background-color: #4E2778;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .head_site_name_cl {
    color: white;
    background-color: #4E2778;
    border-radius: 25px;   /* half of height → pill shape */
    height: 40px;          /* fixed height */
    padding: 0 20px;       /* horizontal padding for spacing, top/bottom padding is 0 */
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;    /* vertically center text */
    white-space: nowrap;    /* prevent text from wrapping */
  }


/*side menu css code ⚙️⚙️*/
/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 99;
}
.overlay.active {
  display: block;
}

.head_side_menu {
  font-family: 'Poppins', sans-serif;
  width: 300px;
  background-color: #e4e1e8;
  height: 100vh;
  padding-top: 20px;
  position: fixed;
  left: -300px; /* hide off-screen */
  top: 0;
  transition: left 0.3s ease;
  z-index: 100;
}
.head_side_menu.active {
  left: 0;
}

.head_menu_option {
  margin: 15px;
  padding: 15px;
  background-color: white;
  color: black;
  border-radius: 1px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.head_menu_option:hover {
  border: 2px solid #28a745;
}
/* Active (clicked) → green background + border */
.head_menu_option.active {
  background-color: #c6eace;
  border: 2px solid #28a745;
}

.head_side_menu h2 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
.head_menu_title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}
.head_menu_subtitle {
  font-size: 14px;
}
/*side menu css code⚙️⚙️✅️*/